<div>
    <b><%= section.label %></b>
    <ul>
        <% for (const button of section.links) { %>
            <li>
                <a href="#">
                    <%= button %>
                </a>
            </li>
        <% } %>
    </ul>
</div>