<main class="container">
    <!-- <img class="image-responsive" src="assets/images/accomodations/lg/annie-spratt-Eg1qcIitAuA-unsplash.jpg" style="content: url('assets/images/accomodations/lg/aw-creative-VGs8z60yT2c-unsplash.jpg')"> -->
    <%- include(template('accomodations/accomodations')) %> 
</main>