header.layout {
  @include page-content;

  h2 {
    font-size: 1.95rem;
    margin: 1.6rem 0;
  }

  p {
    font-size: 1.4rem;
  }

  .filters {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & > span {
      font-weight: 400;
      font-size: 1.3rem;
      margin-right: 3rem;
    }

    ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0;
      gap: 1.5rem;
    }
  }

  .info {
    display: flex;
    align-items: center;
    margin: 2rem 0;

    i {
      @include flex-center;
      color: $primary;
      border: 0.1rem solid $tertiary;
      border-radius: 50%;
      width: 2.4rem;
      height: 2.4rem;
      padding: 1.2rem;
      margin-right: 1.2rem;
      font-size: 1.2rem;
    }

    h6 {
      font-size: 1.2rem;
      margin: 0;
    }
  }
}

@include tablet {
  header.layout ul {
    margin: 1.7rem 0 0;
  }
}

@include phone {
  header.layout {
    padding: 0 2rem;

    h2 {
      margin-top: 3.5rem;
    }
  }
}
