<section id="activities">
    <h2>Activités à Marseille</h2>
    <% const activities = data('activities'); %>
    <% for (const activity of activities) {%>
        <%- include(template('activities/activity'), { activity }) %>
    <% } %>
</section>