<header class="layout">
    <h2>Trouvez votre hébergement pour des vacances de rêve</h2>
    <p>En plein centre ville ou en pleine nature</p>
    <%- include(template('components/searchbar')) %>
    <%  const filters = data('filters') %>
    <div class="filters">
        <span>Filtres</span>
        <ul>
            <%  for (const filter of filters) { %>
                <%- include(template('components/filter'), { filter }) %>
            <% } %>
        </ul>
    </div>
    <div class="info">
        <i class="fa-solid fa-info"></i>
        <h6>Plus de 500 logements sont disponibles dans cette ville</h6>
    </div>
</header>
