
<form class="searchbar" id="search">
    <div>
        <i class="fa-solid fa-location-dot"></i>
    </div>
    <input name="query" type="text" placeholder="Marseille, France" />
   <input value="Rechercher" class="submit" type="submit" />
</form>