<% const accomodations = data('accomodations') %>

<section id="accomodations">
    <section class="container horizontal">
        <header>
            <h2>Hébergements à Marseille</h2>
        </header>
        <div class="content">
            <% for (const accomodation of accomodations.filter((acc) => !acc.popular)) { %>
                <%- include(template('accomodations/accomodation'), { accomodation, classes: 'card horizontal' }) %>
            <% } %>
        </div>
        <footer>
            <button>
                Afficher plus
            </button>
        </footer>
    </section>
    <aside class="container vertical">
        <header>
            <b>Les plus populaires</b>
            <i class="fa-solid fa-star"></i>
        </header>
        <div class="content">
            <% for (const accomodation of accomodations.filter((acc) => acc.popular)) { %>
                <%- include(template('accomodations/accomodation'), { accomodation, classes: 'card vertical' }) %>
            <% } %>
        </div>
    </aside>
</section>
